# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
./api
main
configs/config.yaml
configs/config.docker.yaml

# Test binary, built with `go test -c`
*.test

# Code coverage profiles and other test artifacts
*.out
coverage.*
*.coverprofile
profile.cov

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
go.work.sum

# env file
.env

# Editor/IDE
# .idea/
# .vscode/

# Database files
*.db
*.db-shm
*.db-wal
data.db